.listButton{

    background-color: greenyellow;
    border: none;
    margin: 0 1px;
    padding: 4px;
    border-radius:4px;
    
}

.item{
    border-left: 4px solid rgb(77, 184, 1);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}  

#iconButtons{
   display: flex;
    }



