body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  background:rgb(34, 37, 34);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
